input, button, textarea {
	
	display:block;
}

button {
	margin-top:1em;
}

.delete{
	color:blue;
	text-decoration:underline;
	cursor:pointer;
	display:inline-block;
}

.date{
	display:inline-block;
	margin-right:5em;
}

.confirm{
	display:none;
	cursor:pointer;
	color:red;
	text-decoration:underline;
}

#swedish, #english {
	cursor:pointer;
	color:blue;
	text-decoration:underline;
}