

@font-face{
	font-family:RobotoMedium;
	src: url('../Roboto-Medium.ttf');
	
	font-family:RobotoRegular;
	src: url('../Roboto-Regular.ttf');
}


.container {
overflow:auto;
background-color:rgba(209,228,195,0.9);
border-radius:1em;
padding: 2em;
width:75%;
height:50%;
margin-right:auto;
margin-left: auto;
}

/*
Border radius for intro image
*/
#contentAbout img {
	border-radius: 1em;
}

/*
Change display here if you dont need news
*/
#newsSection{
	clear:both;
	display:block;
}


footer p {
text-align:center;
color:white;
font-size:0.75em;
}

#map{
float:left;
display:inline;
height:20em;
width:48%;
margin-left: 1%;
margin-right:1%;
}

#olderNewsDiv{
	cursor:pointer;
}

.contentDiv.oldNews{
	margin-bottom:1em;
	background-color:rgb(196, 208, 186);
}

#oldNews{
	display:none;
}

.articleImage, .articleImageBacksjonMap{
float:left;
display:inline;
height:auto;
width:48%;
margin-left: 1%;
margin-right:1%;
cursor:pointer;
}

.textInfo{
padding:1em;
background-color:rgb(240, 246, 235);
border-radius:1em;
width:43%;
display:block;
float:right;
box-shadow: 0.1em 0.1em 0.2em rgb(226,144,0);
margin-right:0.2em;
}



h2 {
font-family:RobotoMedium, sans-serif;
text-align:center;
letter-spacing: 1px;
color: rgb(94,164,67);
line-height: 100%;
}

#titleContainer h1 {
font-family:RobotoMedium, sans-serif;
text-align:center;
letter-spacing: 1px;
font-size:5em;
text-shadow: white 0px 0px 1em;
color:rgb(0,120,123);
line-height: 50%;
}

body {
background-image:url("../img/Hemviken_2402.jpg");
background-size:cover;
background-position: center;
background-repeat:no-repeat;
background-attachment:fixed;
}

#nav a {
display:block;
color: black;
text-decoration:none;
text-align:center;
}

.linkCont{
width:20%;
float:left;
margin:0 auto;
display:inline-block;
}

#textInfoIntro{
	margin-bottom:1em;
}


/*
the holder for the zoomed in image
*/
#imageShower{
background-color:rgb(240,246,235);
margin:2em auto;			/* first value is from top, second value is from left (auto centers) */
width:75%;
overflow:auto;
padding:1.5%;
border-radius: 1em;
}

/*
displaying the actual zoomed in image
*/
.zoomedInImage{
	margin:auto;
	width:100%;
	height:auto;
	display:block;
	border-radius: 0;
}

@media screen and (max-width:512px){
		#titleContainer h1{
		font-size:3em;
	}
	

}

@media screen and (min-width:1280px){
	.zoomedInImage{
		width:1240px;	/*20 pixel padding*/
	}
	
	#imageShower{
		width:100%;
		background-color:rgba(0,0,0,0);
		border-radius:0;
		padding:0;
	}
}
	
@media screen and (max-width:768px){
	
	#titleContainer h1{
		font-size:3.5em;
	}
	
	.zoomedInImage{
		border-radius: 1em;
	}
	
	#imageShower{
		padding:2%;
	}
	
	body{
		background-image:url("");
		background-color: rgb(240,246,235);
	}
	
	.container {
		background-color:rgba(209, 228, 195,1);
	}
	
	#contentAbout img{
		width:100%;
		margin:0 auto;
	}
	
	#contentAbout div{
		width:auto;
		margin-top:1em;
	}
	
	.articleImage, .articleImageBacksjonMap{
		width:100%;
		margin:0 auto;
		margin-bottom:1em;
		margin-right:0.2em;
	}
	
	#textInfoIntro{
	margin-top:1em;
	margin-bottom:0em;
	display:inline-block;
	}
	
	
	.textInfo{
		width:auto;
		float:none;
		clear:both;
		display:block;
		margin-right:0.2em;
	}
	
	#map{
		margin:0 auto;
		margin-bottom:1em;
		margin-right:0.2em;
		height:20em;
		width:100%;
	}
	
	#lastLink{
		clear:both;
	}
	
	.linkCont{
		width:33%;
	}
	
	.linkCont.secondRow{
		width:50%;
	}
	
	footer p {
		color:black;
	}
	
}

#flagHolder{
	position:relative;
	
}

.flag{
	display:inline-block;
	float:right;
	width:2em;
	margin-bottom:1em;
	height:auto;
	margin-right:0.5em;
}





p, a {
font-family:RobotoRegular, sans-serif;
font-size:1em;
}

/*
background when displaying images
*/
#empty{
width:100%;
height:100%;
z-index:1;			/* on top */
background-color: rgba(0,0,0,0.5);	/* black with transparancy */
display:none;
position:fixed;	/*Stay in place */
top:0;				/* makes sure its placed right at screen edges (not 0 by default) */
left:0;
}


.navLink {
text-align:center;
}

#nav{
padding:0.5em;
background-color:rgb(240, 246, 235);
overflow:auto;
border-radius: 1em;
box-shadow: 0.1em 0.1em 0.2em rgb(226,144,0);
}

#nav a:hover{
text-decoration:underline;
/*font-size:1.1em;*/
transition:all 0.25s linear;
}

footer {
position:relative;
width:100%;
top:2em;
}



/*.galleryItem{
width:48%;
height:auto;
float:left;
margin: 1%;
cursor:pointer;
}*/

.textImageSmall{
	float:left;
	width:33%;
	margin:1%;
	margin-right:2%;
}

.divArticle {
clear:both;
overflow:auto;
padding-bottom:0.5em;
padding-right:0.2em;
}

.divArticle.topOne {
border-bottom: 0.1em solid rgb(200, 121, 34);
}

.divArticle.middleOnes {
margin-top:0.5em;
border-bottom: 0.1em solid rgb(200, 121, 34);
}

.divArticle.bottomOne {
margin-top:0.5em;
}




#contentAbout{
	
}



.articleHeader{
	text-align:left;
	line-height:75%;
}

.contentDiv{
	overflow:auto;
	border-radius:1em;
	margin:0 auto;
	margin-right:0.2em;
	height:auto;
	background-color:rgb(240,246,235);
	padding:1em;
	box-shadow: 0.1em 0.1em 0.2em rgb(226,144,0);
	
}

.contentDiv.below{
	margin-top:1em;
}

#introContainer {
	margin-top:1em;
	clear:both;
}

#contentText{

}

#contentGallery{

}

#contentArticles{

}

#contentDirections{

}



.container.content {
	margin-top:1em;
}


